/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07-ene-2017, 19:41:35
    Author     : Jose Montes <your.name at your.org>
*/
body {
padding-left: 2em;
padding-right: 11em;
font-family: Georgia, "Times New Roman",
Times, serif;
font-size: small;
/* color: purple;*/
background-color:aliceblue;
/* background-color: #d8da3d */
}
Fete_ViewControl_DataGrid{
    .fila{background-color:#ffffcc;}
    .filaalterna{background-color:#ffcc99;}
    .fdg_sortable {cursor:pointer;text-decoration:underline;color:#00c;}
}
     
#grid{
   .fila{background-color:#ffffcc;}
   .filaalterna{background-color:#ffcc99;}
   .fdg_sortable {cursor:pointer;text-decoration:underline;color:#00c;}
}
#a_pie{
  position:relative; top: 10.5em;
    
}
#cabecera{
    background-color:aliceblue;
   /* background-color:background;*/
}
#aContacto{
    padding-left: 635px;
}
#contacto{
    font-weight: bold;
    padding-left:300px;
   
}
#linea2{
    
  /*  background: red;*/
    background-color: blue;
}
#altaRepresentantes{
 margin-left: 900px;   
 color: green;
 background-color: blueviolet;
}
#modelo{
    margin-left: 900px;   
}
#h2pwd{
    padding-top: 20px;
    padding-left: 350px;
}
#inppwd{
   padding-top: 150px;  
   padding-left: 250px;
}
cab{
   /* background-color: greenyellow;*/
}
hr{
    .h2{
    margin-left: 500px;
    }
}
#pie2{
    margin-left: 100px;
}
#cab2{
   margin-left: 250px;
    
}
#menu{
    font-weight: bold;
   /* margin-left: 100px;
    
    background-color:blueviolet; 
    color:darkslateblue;*/
}
#contenido{
    font-weight: bold;
  /*  background-color:red; */
}
#documentacion{
 /*   color: mediumslateblue;
    .a {
        color: mediumslateblue;
    }
    */
 }
#logear{
    font-weight: bold;
    color:green;
    width: 100px;
}
#tabla{
    
    margin-left: 0px;
    
}
#articulos{
    font-family:Helvetica;
}
#tablaPresupuestosCliente{
     margin-left:0px;
}
#articuloscliente{
    margin-left:0px;
}
#tablaUnRepre{
    margin-top: 120px;
    margin-left: 100px;
}
#hueco{
    margin-bottom:150px;
    
}
#tabla3{
    margin-left: 200px;
    background-color: greenyellow;
}

#margenAlta{
    margin-left: 300px;
}
#inicio{
    margin-top:50px;
    margin-left: 10px;
}
#cabeceraTabla{
    font-weight: bold;
   
}
#cabeceraTablaInformacionCliente{
    margin-left: 0px;
    font-weight: bold;
    background-color:gainsboro;
    column-width: 45px;
}

#lineadatos{
    font-weight: bold;
    color:blue;
   
}
#arriba{
    margin-left: 65em;
}
#fila1{
   
    width: 40px;
    
}
#titIndex{
     margin-left: 120px;
     font-weight: bold;
}
#cierresesion{
     margin-left: 500px;
     padding-top: 100px;    
}
#linea{
    text-decoration: underline;
    color:blue;
     
}
#botones{
    bottom:5px;
    margin-left: 120px;
}

